    <h1> Hi TrianglZ Sales Team! </h1>
    <h2>
        We are redirecting product request from <%= @user.name %>
    </h2>
    <p>
        He has successfully completed all questions!
        <span>
            More infromation about the product owner, idea, more insights and competitors
        </span>
    </p>
    
    <h3>
        Product Summary:
    </h3>
    <p>
        <%=@summary%>   
    </p>

    <h3>
        Expected Competitors
    </h3>
    <p>
        <%=@competitors%>   
    </p>
    
    <h2>
        Thanks!
    </h2>